<div class="newProveedor">
    <a type="button" onclick="document.getElementById('id04').style.display='block'">
        <img src="../../assets/nuevo.png" alt="new-img" height="64" width="64">
    </a>
</div>
<div class="backHome">
    <a type="button" routerLink="/dashboard">
        <img src="../../assets/home.png" alt="home-img" height="64" width="64">
    </a>
</div>

<!-- TABLA PROVEEDOR -->
<section>
    <div class="table-wrapper">
        <h1>PROVEEDORES</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead *ngFor="let item of table_header">
                    <th>{{item.id}}</th>
                    <th>{{item.identificacion}}</th>
                    <th>{{item.nombre}}</th>
                    <th>{{item.direccion}}</th>
                    <th>{{item.telefono}}</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let item of respuestaProveedores">
                        <td>{{ item.id }}</td>
                        <td>{{ item.identificacion }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.direccion }}</td>
                        <td>{{ item.telefono }}</td>
                        <td>
                            <a type="button" (click)="deleteDataTable(item.id)">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <img src="../../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- TABLA PROVEEDOR -->

<!-- MODAL PROVEEDOR -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">&times;</span>
            </header>

            <div>
                <h1>Nuevo Proveedor</h1>
                <form [formGroup]="proveedorForm" autocomplete="off">
                    <strong>Identificación</strong><br>
                    <input formControlName="identificacion">
                    <div>
                        <span class="errors" *ngIf="proveedorForm.controls['identificacion'].errors?.required"> Obligatorio </span>
                    </div><br>

                    <strong>Nombre</strong><br>
                    <input formControlName="nombre">
                    <div>
                        <span class="errors" *ngIf="proveedorForm.controls['nombre'].errors?.required"> Obligatorio </span>
                    </div><br>

                    <strong>Dirección</strong><br>
                    <input formControlName="direccion">
                    <div>
                        <span class="errors" *ngIf="proveedorForm.controls['direccion'].errors?.required"> Obligatorio </span>
                    </div><br>

                    <strong>Teléfono</strong><br>
                    <input formControlName="telefono">
                    <div>
                        <span class="errors" *ngIf="proveedorForm.controls['telefono'].errors?.required"> Obligatorio </span>
                    </div><br>

                    <a type="button" (click)="postDataProveedor()">Guardar</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PROVEEDOR -->