<div class="newPedido">
    <a type="button" onclick="document.getElementById('id04').style.display='block'">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="../../assets/nuevo.png" alt="new-img" height="64" width="64">
    </a>
</div>
<div class="backHome">
    <a type="button" routerLink="/dashboard">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="../../assets/home.png" alt="home-img" height="64" width="64">
    </a>
</div>
<div class="reclamosPage">
    <a type="button" routerLink="/reclamos">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img src="../../assets/new.png" alt="reclamos-img" height="64" width="64">
    </a>
</div>

<!-- TABLA PEDIDOS -->
<section>
    <div class="table-wrapper">
        <h1>PEDIDOS</h1>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead *ngFor="let item of table_header">
                    <th>{{item.id}}</th>
                    <th>{{item.idproveedor}}</th>
                    <th>{{item.fecha}}</th>
                    <th>{{item.total}}</th>
                    <th></th>
                </thead>

                <tbody>
                    <tr *ngFor="let item of respuestaOrdenes">
                        <td>{{ item.id }}</td>
                        <td>{{ item.idproveedor }}</td>
                        <td>{{ item.fecha }}</td>
                        <td>{{ item.total }}</td>
                        <td>
                            <a type="button" onclick="document.getElementById('id05').style.display='block'" (click)="getDatabyID(item.id)">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <img src="../../assets/editar.png" alt="edit-img" height="18" width="18">
                            </a>
                            <a type="button" href="/resumen_pedidos" (click)="getDatabyID(item.id)">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <img src="../../assets/details.ico" alt="details-img" height="18" width="18">
                            </a>
                            <a type="button" (click)="deleteDataTable(item.id)">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <img src="../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- TABLA PEDIDOS -->

<!-- MODAL PEDIDOS -->
<div>
    <div id="id04" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">
                    <img src="../../assets/close-img.png" alt="edit-img" height="18" width="18">
                </span>
            </header>

            <div>
                <h1>Nuevo Pedido</h1>
                <form [formGroup]="pedidosForm" autocomplete="off">
                    <strong>PROVEEDORES</strong><br>
                    <select formControlName="idproveedor">
                        <option *ngFor="let item of respuestaProveedores" value={{item.id}}>{{item.nombre}}</option>
                    </select>
                    <div>
                        <span class="errors" *ngIf="pedidosForm.controls['idproveedor'].errors?.required">Obligatorio</span>
                    </div><br>

                    <strong>TOTAL</strong><br>
                    <input formControlName="total">
                    <div>
                        <span class="errors" *ngIf="pedidosForm.controls['total'].errors?.required"> Obligatorio </span>
                        <span class="errors" *ngIf="pedidosForm.controls['total'].errors?.pattern"> Inválido </span>
                    </div><br><br>

                    <a type="button" (click)="postDataPedidos()">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span> Guardar
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MODAL PEDIDOS -->

<!-- MODAL DETALLE_PEDIDOS -->
<div>
    <div id="id05" class="w3-modal">
        <div class="w3-modal-content">
            <header>
                <span onclick="document.getElementById('id05').style.display='none'" class="w3-display-topright">
                    <img src="../../assets/close-img.png" alt="edit-img" height="18" width="18">
                </span>
            </header>

            <div>
                <h1>Detalle del Pedido</h1>
                <form [formGroup]="detallepedidosForm" autocomplete="off">
                    <strong>MATERIAL</strong><br>
                    <select formControlName="idmaterial">
                        <option *ngFor="let item of respuestaMateriales" value={{item.id}}>{{item.nombre}}</option>
                    </select>
                    <div>
                        <span class="errors" *ngIf="detallepedidosForm.controls['idmaterial'].errors?.required">Obligatorio</span>
                    </div><br>

                    <strong>NOMBRE</strong><br>
                    <input formControlName="nombre">
                    <div>
                        <span class="errors" *ngIf="detallepedidosForm.controls['nombre'].errors?.required">Obligatorio</span>
                    </div><br>

                    <strong>CANTIDAD</strong><br>
                    <input formControlName="cantidad">
                    <div>
                        <span class="errors" *ngIf="detallepedidosForm.controls['cantidad'].errors?.required"> Obligatorio </span>
                    </div><br>

                    <strong>PRECIO</strong><br>
                    <input formControlName="precio">
                    <div>
                        <span class="errors" *ngIf="detallepedidosForm.controls['precio'].errors?.required"> Obligatorio </span>
                    </div><br><br>

                    <a type="button" (click)="postDataDetallePedidos()">
                        Guardar
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="pdfButton">
    <a type="button" class="pdf" (click)="pdf()">
        <img src="../../assets/PDF.png" alt="pdf-img" height="64" width="64">
    </a>
</div>
<!-- MODAL DETALLE_PEDIDOS -->