header {
    position: relative;
    display: block;
    // background: red;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75)
}

.w3-modal-content {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    // left: 50%;
    padding: 0;
    outline: 0;
    width: 1000px;
    height: 465px;
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 0, 0, 0.75);
    padding: 2%
}

.newFacturacion {
    position: fixed;
    right: 5%;
}

.reclamosPage {
    position: fixed;
    left: 5%;
}

.backHome {
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.pdfButton {
    position: fixed;
    left: 5%;
    bottom: 5%;
}

//BUTTONS
h1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(40, 87, 84, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(22, 227, 238, 0.115);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 19px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    left: 12;
}

td {
    padding: 15px;
    text-align: left;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(245, 0, 0, 0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}


/* follow me template */

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: rgb(92, 24, 24);
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: rgb(16, 141, 26);
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}